/*  your css code here. If applicable */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  background: repeating-linear-gradient(
    135deg,
    #1a1a1a,
    #1a1a1a 6px,
    #2a2a2a 6px,
    #2a2a2a 12px
  );
}
#animal-photos{
	background-color: rgb(50,50,50);
  width: 65%;
	margin: auto;
	padding-inline: 30px;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	padding-block-end: 20px;
}
.image-section{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  grid-template-rows: 1fr 1fr 1fr;
}
#photo-heading{
	text-align: center;
	margin-block: 15px;
	font-weight: 100;
	color: white;
}
img{
  border-radius: 10px;
}



